@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
html{
    box-sizing: border-box;
}
body {
    margin:0;
    min-height: 100vh;
    background-color:#f3edfb;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23921b8a' fill-opacity='0.24' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-family: 'Playfair Display', serif;
    color:black;
    font-weight:700;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
}

.qoute{
    width:auto;
    max-width:900px;
    padding:30px 45px;
    border-radius:10px;
    background-color:rgba(106, 93, 107, 0.4);
    box-shadow:0 10px 10px rgba(0,0,0,0.2);
}

.quote-text {
    font-size:2.75rem;

}

.long-quote {
    font-size:2rem;
}

.fa-quote-left {
    font-size:4rem;
}

.quote-author {
    margin-top:1px;
    font-size:2rem;
    font-weight:300;
    font-style:italic;
}

.buttons{
    margin-top:15px;
    display:flex;
    justify-content:space-between;

}

button{
    cursor : pointer;
    font-size:1rem;
    height:2rem;
    border:none;
    border-radius:10px;
    color:#0c0b0e;
    outline:none;
    padding:0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(118, 26, 124, 0.2);
}

button:hover {
    filter: brightness(110%);
    box-shadow:0 0.1rem rgba(255,2,25,0);
}

button:active {
    transform: translate(0,0.3rem);
}
.twitter-button:hover {
    color:royalblue;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #db34db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Media Query : tablet */
@media screen and (max-width:1000 px) {
   .quote{ 
    margin: auto 10px;
   }

  .quote-text {
    font-size:2.5rem;
 }
} 